.que.flashcard .answer .specificfeedback {
    display: inline;
    padding: 0 0.7em;
    background: #fff3bf;
}

.que.flashcard .answer div.r0,
.que.flashcard .answer div.r1 {
    padding: 0.3em 0 0.3em 25px;
    text-indent: -25px;
}

.que.flashcard .answer div.r0 label,
.que.flashcard .answer div.r1 label,
.que.flashcard .answer div.r0 div.specificfeedback,
.que.flashcard .answer div.r1 div.specificfeedback {
    /* In Chrome and IE, the text-indent above is applied to any embedded table
       cells or <li>s, which screws up the intended layout. This fixes it again. */
    text-indent: 0;
}

.que.flashcard .answer div.r0 input,
.que.flashcard .answer div.r1 input {
    margin: 0 5px;
    padding: 0;
    width: 15px;
}

/* Editing form. */
body#page-question-type-flashcard div[id^=fitem_id_][id*=answer_] {
    background: #eee;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 5px;
    padding-top: 5px;
    border: 1px solid #bbb;
    border-bottom: 0;
}

body#page-question-type-flashcard div[id^=fitem_id_][id*=answer_] .fitemtitle {
    font-weight: bold;
}

body#page-question-type-flashcard div[id^=fitem_id_] .fitemtitle {
    margin-left: 0;
    margin-right: 0;
    padding-left: 6px;
    padding-right: 0;
}
/*begin flip animation*/
.qflashcard-flipcontainer {
 perspective: 1000px;
}

.qflashcard-flipcontainer.flipped .qflashcard-flipper {
 transform: rotateX(180deg);
}

/* speed flip animation */
.flipper {
 transition: 1.5s;
 transform-style: preserve-3d;
 position: relative;
 transform-origin: 100% 200px;
}

/* remove display of back side*/
.qflashcard-question, .qflashcard-ablock {
 backface-visibility: hidden;
 position: absolute;
 top: 0;
 left: 0;
}

/* question = Front */
.qflashcard-question {
 z-index: 2;
 transform: rotateX(0deg);
}

/* answer = background */
.qflashcard-ablock {
 transform: rotateX(180deg);
} 
